apiVersion: v1
kind: Pod
metadata:
  name: nas-data-explorer
spec:
  containers:
  - name: explorer
    image: python:3.9-slim
    command: ["/bin/bash", "-c", "sleep infinity"]
    volumeMounts:
    - mountPath: /data
      name: data-volume
  volumes:
  - name: data-volume
    persistentVolumeClaim:
      claimName: nasbench201-data
